version: "1"
projects:
- name: My project
  environments:
  - name: Production
    services:
    - type: web
      name: WebApp-API
      runtime: docker
      repo: https://github.com/Eirvana/WebAPI
      plan: free
      envVars:
      - key: EMAIL_HOST
        sync: false
      - key: DATABASE_URL
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: PORT
        sync: false
      - key: NODE_ENV
        sync: false
      - key: EMAIL_USER
        sync: false
      - key: EMAIL_PASS
        sync: false
      - key: EMAIL_FROM
        sync: false
      - key: EMAIL_PORT
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: API_KEY
        sync: false
      - key: ALLOWED_ORIGINS
        sync: false
      region: oregon
      healthCheckPath: /api/health
      dockerContext: .
      dockerfilePath: ./Dockerfile
      autoDeployTrigger: commit
